.place__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
  box-sizing: border-box;
}

@media screen and (max-width: 928px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    padding-right: 10px;
  }
}

@media screen and (max-width: 720px) {
  .place__title {
    width: 90%;
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
  }
}
