.place__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  grid-column: 1;
  grid-row: 1;
}
