.photo-grid__list {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-items: center;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid__list {
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid__list {
    gap: 12px;
  }
}
