@import url(./vendor/normalize.css);

@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__lang-links/header__lang-links.css);
@import url(./blocks/header/__lang-link/header__lang-link.css);
@import url(./blocks/header/__lang-link/_selected/header__lang-link_selected.css);

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(./vendor/fonts/Inter-Regular.woff2) format('woff2'),
       url(./vendor/fonts/Inter-Regular.woff) format('woff'),
       url(./vendor/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(./vendor/fonts/Inter-Bold.woff2) format('woff2'),
       url(./vendor/fonts/Inter-Bold.woff) format('woff'),
       url(./vendor/fonts/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(./vendor/fonts/Inter-Black.woff2) format('woff2'),
       url(./vendor/fonts/Inter-Black.woff) format('woff'),
       url(./vendor/fonts/Inter-Black.ttf) format('truetype');
}

* {
  outline: 1px solid red;
}
