.footer__links {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  column-gap: 18px;
}

@media screen and (max-width: 720px) {
  .footer__links {
    flex-direction: column;
    column-gap: 0;
    row-gap: 32px;
  }
}
