.intro {
  display: flex;
  flex-direction: column;
  max-width: 984px;
  padding: 92px 0 0 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100vw - (48px*2));
  }
}

@media screen and (max-width: 864px) {
  .intro {
    width: calc(100vw - (24px*2));
    padding-top: 88px;
  }
}

@media screen and (max-width: 336px) {
  .intro {
    width: calc(100vw - (16px*2));
    padding-top: 64px;
  }
}


