.lead-intro-container {
  width: 984px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead-intro-container {
    width: calc(100vw - (48px*2));
  }
}

@media screen and (max-width: 864px) {
  .lead-intro-container {
    width: 100vw;
  }
}
