.cover__background {
  display: flex;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 740px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1184px) {
  .cover__background {
    width: 100vw;
    min-height: calc(100vw/1.6);
  }
}
