.footer {
  display: flex;
  padding: 92px 48px 24px;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    padding: 64px 0px 24px 16px;
    margin: 0;
    max-width: 63.125%;
    flex-direction: column;
    row-gap: 48px;
  }
}
