.header__lang-links {
  display: flex;
  align-items: flex-end;
  margin: 0 0 5px 0;
  padding: 0;
  column-gap: 18px;
  list-style: none;
}

@media screen and (max-width: 320px) {
  .header__lang-links {
    margin: 0 0 7px 0;
  }
}
